* {
    margin: 0;
    padding: 0;
}

header {
    text-align: right;
    border-bottom: 1px solid #dee2e6;
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.h1-container {
    display: flex;
    justify-content: space-between;
}

.h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
    text-transform: capitalize;
}

.tbl-content {
    width: 100%;
    margin: 0;
    border: 1px solid lightgrey;
    max-height: 800px; /* Set a maximum height */
    background-color: #ffffff;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .6rem;
    flex: 1;
    overflow-x: auto;
    overflow-scrolling: auto;
    text-align: center;
}

.table-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    overflow-x: auto;
}

.table-recent, .table-trending {
    width: 100%;
    margin: 0;
    border: 1px solid lightgrey;
    height: 100vh;
    background-color: #ffffff;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .6rem;
    flex: 1;
    /*overflow-x: auto;*/
    /*overflow-scrolling: auto;*/
    text-align: center;
}

.divider {
    width: 100%;
    margin: 0;
}

footer {
    text-align: center;
    padding: 10px 50px 10px 50px;
    border-top: 1px solid #dee2e6;
}

a {
    color: #ffc800;
}

.body-content {
    text-align: center;
    padding: 10px 50px 50px 50px;
}


.header {
    font-weight: bold;
    text-align: center;
    display: table-cell;
    width: 20%;
    padding: 12px;
    /*border-radius: .6rem;*/
    /*border: 1px solid lightgrey;*/

}

.divider {
    width: 100%;
    margin: 0;
    border: 1px solid lightgrey;
    background-color: #ffffff;
    backdrop-filter: blur(7px);
    border-radius: .6rem;
    flex: 1;
}

.header-cell {
    display: table-cell;
    width: 20%;
    padding: 12px;
    border-bottom: 2px solid #dee2e6;
    font-weight: bold;
    text-align: center;
}

.rowGroup {
    display: table-row-group;
}

.header-cell-recent {
    border: 1px solid #dee2e6;
    text-align: center;
    padding: 12px;
}

/* -- TODO .row -- */
.row-tables {
    display: table-row;
}

.row:nth-child(odd) {
    background-color: #ffffff;
}

.row a {
    text-decoration: none;
    /*color: #007bff;*/
}


.cell {
    display: table-cell;
    width: 20%;
    padding: 12px;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}

.margin12 {
    margin: 12px 0px 12px 0px;
}

.form-label {
    font-weight: bold;
}

.form-input {
    margin: 12px 0px 12px 0px;
    width: 200px;
    height: 25px;
}

.form-error {
    color: #dc3545;
}

/*.btn-primary {*/
/*    margin: 12px 6px 12px 0px;*/
/*    color: #fff;*/
/*    background-color: #007bff;*/
/*    border-color: #007bff;*/
/*    height: 30px;*/
/*}*/

.btn-danger {
    margin: 12px 6px 12px 0px;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    height: 30px;
}

a.nav {
    margin: 6px 6px 6px 6px;
}

.label-error {
    color: red
}

.container-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 1.9cm;
}

.count-box {
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    margin: 10px;
    text-align: center;
    background-color: #fffae6;
    border: 1px solid lightgrey;
    backdrop-filter: blur(10px);
    box-shadow: 0 .4rem .8rem #0005;
    overflow: hidden;
    flex: 1;
}

.count-label {
    font-weight: bold;
}

.count-number {
    font-size: 18px;
}

.btn-like {
    background-color: transparent;
    border: none;
    font-size: 30px;
    outline: none;
    color: grey;
    top: auto;
    left: auto;
    display: flex;
    position: relative;
}

.btn-like i:hover {
    cursor: pointer;
}

.btn-like.active {
    background-color: red;
}

.text-center-content {
    display: inline-block;
    text-decoration: none;
    padding: 0;
    font-size: large;

    border-radius: 10px;
    border: 1px solid #bebebf;
    background: transparent;
    color: #000000;
    position: relative;
    top: calc(50% - 1cm);
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-center-content:hover {
    border-radius: 10px;
    border: 1px solid #fffae6;
    background: #fffae6;
    transition: 0.5s;
    font-size: large;
}

.like {
    background-color: transparent;
    border: none;
    font-size: 30px;
    outline: none;
    color: grey;
    top: auto;
    left: auto;
    display: flex;
    position: relative;
}

.data-published {
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid #bebebf;
}

.row-tables {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
    position: relative;
}

.row-tables .text-center-comment {
    margin: auto;
    padding: 12px 34px;
    font-size: 15px;
    border-radius: 10px;
    background: transparent;
    color: #000000;
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    border: 1px solid #bebebf;
    display: block; /* Promenjeno sa display: flex; na display: block; */
    width: 100%; /* Ako želite da ograničite širinu komentara, možete dodati širinu ovde */
    margin-bottom: 20px; /* Dodato kako bi se odvojili komentari */

}

.comment-box-replies-box {

}

.comment-replies {

    top: 52%;
    left: 10%;
    transform: translate(0, 0);
    text-align: left;
}

.comment-createdBy .subheading {
    width: auto;
    text-align: left;
    margin-top: 15px;
    font-weight: bold;
    color: #333;
    margin-right: 10px;
}

.text-center-comment:hover {
    background: #babbbc;

}

.comment-leave {
    color: #333;
    border-radius: 10px;
    border: 1px solid;
}

.comment-leave:hover {
    border-radius: 10px;
    border: 1px solid #fffae6;
    background: #bcbebf;
    transition: 0.5s;
}

.comment-box {
    border: 1px solid #f5c2c7;
    margin: 50px 0;
    padding: 10px 20px;
    border-radius: 10px;
    width: 100%;
}

.comment-box button {
    align-self: center;
}

.comment-box h3 {
    text-align: left;
}

.comment-form input, .comment-form textarea {
    width: 555%;
    padding: 10px;
    margin: 50px 0;
    border-radius: 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;

}

.comment-form button {
    border-radius: 10px;
    margin: 10px 0;
}

@media (max-width: 700px) {
    .subheading h1 {
        font-size: 20px;
    }

}

.btn-submit {
    display: none;

}



