header {
    text-align: right;
    border-bottom: 1px solid #dee2e6;
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.h1-container {
    display: flex;
    justify-content: space-between;
}

.h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
    text-transform: capitalize;
}
.table-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
    overflow-x: auto;
    overflow-scrolling: auto;
}


.table-recent, .table-trending {
    width: 50%;
    margin: 0;
    border: 1px solid lightgrey;
    height: 90vh;
    background-color: #ffffff;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .6rem;
    flex: 1;
    overflow-x: auto;
    overflow-scrolling: auto;
}


.divider {
    width: 100%;
    margin: 0;
}

footer {
    text-align: center;
    padding: 10px 50px 10px 50px;
    border-top: 1px solid #dee2e6;
}

a {
    color: #007bff;
}

.body-content {
    text-align: center;
    padding: 10px 50px 50px 50px;
}


.header {
    font-weight: bold;
    text-align: center;
    display: table-cell;
    width: 20%;
    padding: 12px;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}

.header-cell {
    display: table-cell;
    width: 20%;
    padding: 12px;
    border-right: 1px solid #dee2e6;
    border-bottom: 2px solid #dee2e6;
}

.rowGroup {
    display: table-row-group;
}
.header-cell-recent {
    border: 1px solid #dee2e6;
    text-align: center;
    padding: 12px;
}

/* -- TODO .row -- */
.row-tables {
    display: table-row;
}

.row:nth-child(odd) {
    background-color: #ffffff;
}

.row a {
    text-decoration: none;
    /*color: #007bff;*/
}


.cell {
    display: table-cell;
    width: 20%;
    padding: 12px;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}

.margin12 {
    margin: 12px 0px 12px 0px;
}

.form-label {
    font-weight: bold;
}

.form-input {
    margin: 12px 0px 12px 0px;
    width: 200px;
    height: 25px;
}

.form-error {
    color: #dc3545;
}

/*.btn-primary {*/
/*    margin: 12px 6px 12px 0px;*/
/*    color: #fff;*/
/*    background-color: #007bff;*/
/*    border-color: #007bff;*/
/*    height: 30px;*/
/*}*/

.btn-danger {
    margin: 12px 6px 12px 0px;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    height: 30px;
}

a.nav {
    margin: 6px 6px 6px 6px;
}

.label-error {
    color: red
}
.container-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 1.9cm;
}
.count-box {
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    margin: 10px;
    text-align: center;
    background-color: #fffae6;
    border: 1px solid lightgrey;
    backdrop-filter: blur(10px);
    box-shadow: 0 .4rem .8rem #0005;
    overflow: hidden;
    flex: 1;
}

.count-label {
    font-weight: bold;
}
.count-number {
    font-size: 18px;
}