<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:replace="~{PostForm.html :: head('About')}"></form>
<body>
<form th:replace="~{PostForm.html :: header}"></form>

<div class="body-content">
    <h2>About the project</h2>
    <p>
        <b>Travel Forum</b> Welcome to the Travel Forum! This is a place where travelers share their experiences and
        stories.
        Learn from others, get inspired, and plan your next adventure.
    </p>
</div>

<form th:replace="~{PostForm.html :: footer}"></form>
</body>
</html>
