<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:replace="~{PostForm.html :: head('All Posts')}"></form>
<body>
<form th:replace="~{PostForm.html :: header}"></form>

<div class="body-content">
    <form action="#" th:action="@{/posts}" method="get" th:object="${filterOptions}">
        <label th:text="#{post.filter.label}">Filter Options</label>
        <br/><br/>
        <input type="text" placeholder="Post title" th:field="*{title}"/>
        <input type="text" placeholder="Post content" th:field="*{content}"/>
        <input type="text" placeholder="Created by" th:field="*{createdBy}"/>

        <select th:field="*{sortBy}">
            <option value="">Sort By</option>
            <option value="title">Title</option>
            <option value="content">Content</option>
            <option value="createdBy">Created by</option>
        </select>

        <select th:field="*{sortOrder}">
            <option value="">Sort Order</option>
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
        </select>
        <br/><br/>

        <input type="submit" value="Search"/>
    </form>
    <div th:if="${posts.isEmpty()}">
        <h2 th:text="#{post.title.empty}">No Post</h2>
    </div>
    <div th:unless="${posts.isEmpty()}">
        <h2 th:text="#{post.title}">All Posts</h2>

        <div class="table">
            <div class="header">
                <div class="header-cell" th:text="#{post.label.title}">Title</div>
                <div class="header-cell" th:text="#{post.label.content}">Content</div>
                <div class="header-cell" th:text="#{post.label.createdBy.username}">Created by</div>
            </div>
            <div class="row" th:each="post : ${posts}">
                <div class="cell">
                    <a href="#" th:href="@{/posts/{id}(id=${post.id})}" th:text="${post.title}">Post</a>
                </div>
                <div class="cell" th:text="${post.content}"> Paris - a city of love, art, and timeless elegance.
                    From the iconic Eiffel Tower to the charming cobblestone streets of Montmartre,
                    every corner whispers tales of romance and cultural richness.
                </div>
                <div class="cell" th:text="${post.createdBy.username}">user@gmail.com</div>
            </div>
        </div>
    </div>
</div>

<form th:replace="~{PostForm.html :: footer}"></form>
</body>
</html>