<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Explore & Share</title>
<!--  <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}"/>-->

</head>
<body>
<h1>Explore and share</h1>
<br/>
<div>
Journey of Discovery: <h1 th:text="${post.title}"/>
</div>
<br/>


<div>
Journey Details:<h2 th:text="${post.content}"/>
</div>
<br/>


<div>
Voyager:<h3 th:text="${post.createdBy.getUsername()}"/>
</div>
</body>
</html>


