<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="'TravelForum | '+ ${title}">Title</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="../static/css/styles.css" th:href="@{/css/tables.css}" rel="stylesheet"/>

</head>
<header th:fragment="header">
    <div>
        <h3>
            <a href="#" th:href="@{/}" th:text="#{navigation.home} + ' | '">Home</a>
            <a href="#" th:href="@{/posts}" th:text="#{navigation.all-posts} + ' | '">Browse all posts</a>
            <a href="#" th:if="${isAuthenticated}" th:href="@{/posts/new}"
               th:text="#{navigation.create-post} + ' | '">Create Post</a>
            <a href="#" th:href="@{/about}" th:text="#{navigation.about} + ' | '">About</a>
            <a href="#" th:unless="${isAuthenticated}" th:href="@{/auth/login}">Login | </a>
            <a href="#" th:unless="${isAuthenticated}" th:href="@{/auth/register}">Register</a>
            <a href="#" th:if="${isAuthenticated && session.isAdmin}" th:href="@{/admin}"
               th:text="#{navigation.admin} + ' | ' ">Admin Portal</a>
            <a href="#" th:if="${isAuthenticated}" th:href="@{/auth/logout}">Logout</a>
        </h3>
    </div>
</header>
<div th:fragment="post-form(title)">
    <h2 th:text="${title}">Title</h2>

    <form action="#" th:action="@{__${requestURI}__}" th:object="${post}" method="post">
        <label th:text="#{post.label.title}">Post</label>
        <br/>
        <input type="text" th:field="*{title}" style="width: 300px; border-radius: 10px;"/>
        <label class="error" th:errors="*{title}">Title error placeholder</label>
        <br/><br/>

        <div class="form-group form-group-textarea mb-md-0">
            <label th:text="#{post.label.content}">Content</label>
            <br/>
            <textarea th:field="*{content}" style="width: 300px; height: 300px; border-radius: 10px;"></textarea>

        </div>

        <label class="error" th:errors="*{content}">Content error placeholder</label>
        <br/><br/>


        <div class="text-center"><input type="submit" value="Share" class="btn btn-primary btn-xl text-uppercase"
                                        href="#services">
        </div>
    </form>
</div>

<footer th:fragment="footer">
    <small th:text="${'© Copyright ' + #dates.year(#dates.createNow()) + ' TravelForum'}">TravelForum</small>
</footer>